{% extends 'base.html' %}
{% block title %} Upload Event {% endblock %}
{% block content %}
<div>
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ render_field(form.name, class='form-control', is_required=True) }}
            {{ render_field(form.time, class='form-control', is_required=True, type='datetime') }}
            {{ render_field(form.location, class='form-control', is_required=True) }}
            {{ render_field(form.max_ppl, class='form-control') }}
            {{ render_field(form.desc, class='form-control') }}
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>
{% endblock %}