{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block head %}
<style>
    .cardContainer {
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }

    .cardContainer:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .eventCard {
        background-color: #87A330;
        color: white;
    }

    .requestCard {
        background-color: #1A8FE3;
        color: white;
    }
</style>
{% endblock %}

{% block content %}
{% if 'username' in session %}
<div class="container">
    <div class="pb-5">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#createevent" role="tab"
                    aria-controls="home" aria-selected="true">Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#request" role="tab"
                    aria-controls="profile" aria-selected="false">Request</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="createevent" role="tabpanel" aria-labelledby="create-event-tab">
                <div class="row">

                    <div class="col-lg-6 mt-2 pr-5 pl-5">
                        <form method="POST" action="/event/upload" role="form" id="event-form">
                            <div class="form-group">
                                <label for="eventName">Name</label> <span style="color: red;">*</span>
                                <input type="text" name="event-name" class="form-control" id="eventName"
                                    aria-describedby="eventName" required>
                            </div>
                            <div class="form-group">
                                <label for="eventTime">Time</label> <span style="color: red;">*</span>
                                <input type="datetime-local" name="event-time" class="form-control" id="eventTime"
                                    aria-describedby="eventTime" required>
                            </div>
                            <div class="form-group">
                                <label for="eventLocation">Location</label> <span style="color: red;">*</span>
                                <input type="text" name="event-location" class="form-control" id="eventLocation"
                                    aria-describedby="eventLocation" required>
                            </div>
                            <div class="form-group">
                                <label for="maxPpl">Max Number of People</label>
                                <input type="number" name="event-ppl" class="form-control" id="maxPpl"
                                    aria-describedby="maxPpl">
                            </div>
                            <div class="form-group">
                                <label for="eventName">Description</label>
                                <textarea type="text" name="event-desc" class="form-control" id="eventDesc"
                                    aria-describedby="eventDesc"></textarea>
                            </div>
                            <button class="btn btn-primary" id="event-btn">Post</button>
                        </form>
                    </div>

                    <div class="col-lg-6 mt-2 pr-5 pl-5 overflow-auto" style="height: 80vh">
                        {% for event in events %}
                        <div class="row eventCard cardContainer mt-2">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ event.name }}</h5>
                                <p class="text-center"><span>{{ event.location }}</span> |
                                    <span>{{ event.time.strftime('%B %d, %Y') }}</span> | <span>
                                        {{ event.time.strftime('%I:%M %p') }}
                                    </span></p>
                                <p class="text-center">Max Ppl: {{ event.max_participants }}</p>
                                <hr />
                                <p class="card-text">{{ event.desc }}</p>

                                {% if user_id in event.rsvp %}
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-danger cancel-rsvp" data-eventid="{{ event.id }}">Cancel
                                        RSVP</button>
                                </div>
                                {% else %}
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-primary rsvp" data-eventid="{{ event.id }}">RSVP</button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        </form>
                    </div>

                </div>
            </div>

            <div class="tab-pane fade" id="request" role="tabpanel" aria-labelledby="request-tab">
                <div class="row">
                    <div class="col-lg-6 mt-2 pr-5 pl-5">
                        <form method="POST" action="" role="form">
                            <div class="form-group">
                                <label for="requestName">Name</label> <span style="color: red;">*</span>
                                <input type="text" class="form-control" id="requestName" aria-describedby="requestTitle"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="requestTime">Time</label> <span style="color: red;">*</span>
                                <input type="datetime-local" class="form-control" id="requestTime"
                                    aria-describedby="requestTime" required>
                            </div>
                            <div class="form-group">
                                <label for="requestDesc">Description</label>
                                <textarea type="text" class="form-control" id="requestDesc"
                                    aria-describedby="requestDesc"></textarea>
                            </div>
                            <button class="btn btn-success" id="request-btn">Request</button>
                        </form>
                    </div>

                    <div class="col-lg-6 mt-2 pr-5 pl-5 overflow-auto" style="height: 80vh">
                        {% for req in requests %}
                        <div class="row requestCard cardContainer mt-2">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ req.name }}</h5>
                                <p class="text-center"><span>{{ req.time.strftime('%B %d, %Y') }}</span> |
                                    <span>{{ req.time.strftime('%I:%M %p') }}</span></p>
                                <hr />
                                <p class="card-text">{{ req.desc }}</p>

                                {% if req.accepted %}
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-secondary" data-reqid="{{ req.id }}">Accepted By
                                        Someone</button>
                                </div>
                                {% else %}
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-success" data-reqid="{{ req.id }}">Accept</button>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        // upload event

        $(document).on('click', '#event-btn', function (event) {
            $.ajax({
                url: "{{ url_for('upload_event') }}",
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({
                    'event-name': $('#eventName').val(),
                    'event-time': document.getElementById('eventTime').value,
                    'event-location': $('#eventLocation').val(),
                    'event-ppl': $('#maxPpl').val(),
                    'event-desc': $('#eventDesc').val()
                }),
                success: function (res) {
                    console.log("success upload");
                },
                error: function (xhr) {
                    console.log("failed...");
                }
            });
            // clear fields
            $('#eventName').val("");
            $('#eventTime').val("");
            $('#eventLocation').val("");
            $('#maxPpl').val("");
            $('#eventDesc').val("");

            // prevent reloading
            event.preventDefault();

            location.reload(true);
        });

        // rsvp event
        $(document).on('click', '.rsvp', function (event) {
            $.ajax({
                url: "{{ url_for('rsvp') }}",
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({
                    'event-id': $(this).data('eventid')
                }),
                success: function (res) {
                    console.log("success upload");
                },
                error: function (xhr) {
                    console.log("failed...");
                }
            });
            event.preventDefault();

            location.reload(true);
        });

        // cancel rsvp event
        $(document).on('click', '.cancel-rsvp', function (event) {
            $.ajax({
                url: "{{ url_for('cancel_rsvp') }}",
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({
                    'event-id': $(this).data('eventid')
                }),
                success: function (res) {
                    console.log("success upload");
                },
                error: function (xhr) {
                    console.log("failed...");
                }
            });
            event.preventDefault();

            location.reload(true);
        });

        // upload request
        $(document).on('click', '#request-btn', function (event) {
            $.ajax({
                url: "{{ url_for('upload_request') }}",
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({
                    'request-name': $('#requestName').val(),
                    'request-time': document.getElementById('requestTime')
                        .value,
                    'request-desc': $('#requestDesc').val()
                }),
                success: function (res) {
                    console.log("success upload");
                },
                error: function (xhr) {
                    console.log("failed...");
                }
            });
            // clear fields
            $('#requestName').val("");
            $('#requestTime').val("");
            $('#requestDesc').val("");

            // prevent reloading
            event.preventDefault();

            location.reload(true);
        });

    });
</script>
{% endblock %}