{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}
{% block head %}
<style>
   #tophead{
      padding-top: 20vh;
      height: 100vh;
      background-color: rgb(61, 43, 226);
      color: white;
   }
   #tophead h1{
      font-size: 50px;
   }
</style>
{% endblock %}
{% block content %}
<div id="tophead">
   <div class="container">
   <div class="row">
      <div class="col-md-6">
         <h1 style="font-size: 50px;">Get Together In Your Workplace</h1>
         <p style="font-size: 20px;">Let's get to know each other through amazing events!</p>
      </div>
      <div class="col-md-6">
         <img src="{{url_for('static', filename='images/topimg.jpg')}}" width="500">
      </div>
   </div>
</div>
</div>
{% endblock %}