{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% block head %}
<style>
    #registerForm{
        width: 500px;
        background-color: #3d2be2;
        padding: 10px;
        color: white;
        border-radius: 10px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="mt-5 d-flex justify-content-center">
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="" role="form" id="registerForm">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ render_field(form.username, class='form-control', is_required=True) }}
            {{ render_field(form.password, class='form-control', is_required=True) }}
            {{ render_field(form.confirmed, class='form-control', is_required=True) }}
        </div>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
</div>
</div>
{% endblock %}