{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% block content %}
<div>
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ render_field(form.username, class='form-control', is_required=True) }}
            {{ render_field(form.password, class='form-control', is_required=True)}}
            {{ render_field(form.confirmed, class='form-control', is_required=True)}}
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock %}